imutils
paho-mqtt
numpy
Flask
Flask-Cors
opencv-python
Pillow
pyautogui
torch==2.1.1+cu121
torchaudio==2.1.1+cu121
torchsummary
torchvision==0.16.1+cu121
tqdm
wget
matplotlib
albumentations
pycocotools
ultralytics
easyocr
