@keyframes slideoutp1 {
  from {
    left: 110%;
  }
  to {
    left: 90%;
  }
}

@keyframes slideinp1 {
  from {
    left: 90%;
  }
  to {
    left: 110%;
  }
}
@keyframes slideoutp2 {
  from {
    left: 90%;
  }
  to {
    left: 70%;
  }
}

@keyframes slideinp2 {
  from {
    left: 70%;
  }
  to {
    left: 90%;
  }
}

@keyframes slideoutextp1 {
  from {
    left: 129%;
  }
  to {
    left: 109%;
  }
}

@keyframes slideinextp1 {
  from {
    left: 109%;
  }
  to {
    left: 129%;
  }
}
@keyframes slideoutextp2 {
  from {
    left: 109%;
  }
  to {
    left: 89%;
  }
}

@keyframes slideinextp2 {
  from {
    left: 89%;
  }
  to {
    left: 109%;
  }
}
@keyframes slideinpall {
  from {
    left: 70%;
  }
  to {
    left: 110%;
  }
}

@keyframes slideoutbuttonred {
  from {
    top: 105%;
  }
  to {
    top: 84%;
  }
}

@keyframes slideinbuttonred {
  from {
    top: 84%;
  }
  to {
    top: 105%;
  }
}
@keyframes slideoutbuttongreen {
  from {
    top: 105%;
  }
  to {
    top: 72.5%;
  }
}

@keyframes slideinbuttongreen {
  from {
    top: 72.5%;
  }
  to {
    top: 105%;
  }
}
@keyframes slideoutbuttonsf {
  from {
    top: 105%;
  }
  to {
    top: 72.5%;
  }
}

@keyframes slideinbuttonsf {
  from {
    top: 72.5%;
  }
  to {
    top: 105%;
  }
}
@keyframes slideoutbuttonlf {
  from {
    top: 105%;
  }
  to {
    top: 84%;
  }
}

@keyframes slideinbuttonlf {
  from {
    top: 84%;
  }
  to {
    top: 105%;
  }
}

@keyframes slideinbuttonlog {
  from {
    top: 69.8%;
  }
  to {
    top: 105%;
  }
}

@keyframes slideoutbuttonlog {
  from {
    top: 105%;
  }
  to {
    top: 69.8%;
  }
}

@keyframes popupin {
  from {
    left: 110%;
    opacity: 0.5;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

@keyframes popupout {
  from {
    left: 50%;
    opacity: 1;
  }
  to {
    left: 110%;
    opacity: 0.5;
  }
}

@keyframes libraryselect {
  from {
    left: 5%;
  }
  to {
    left: 15%;
  }
}

@keyframes librarydeselect {
  from {
    left: 15%;
  }
  to {
    left: 5%;
  }
}

html {
  background-color: #616675;
  overflow: hidden;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.exec {
  position: absolute;
  top: 72.5%;
  left: 94%;
  width: 4vw;
  height: 4vw;
  font-size: 1vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: transparent; */
  background-color: white;
  /* border-color: rgba(0, 255, 0, 0.85); */
  /* color: rgba(0, 255, 0, 0.85); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex_buttons {
  display: flex;
  background-color: #0041d0;
}

.stop {
  position: absolute;
  top: 84%;
  left: 94%;
  width: 4vw;
  height: 4vw;
  font-size: 1vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: transparent; */
  background-color: white;
  /* border-color: rgba(255, 0, 0, 0.85); */
  /* color: rgba(255, 0, 0, 0.85); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sf {
  position: absolute;
  top: 72.5%;
  left: 88%;
  width: 4vw;
  height: 4vw;
  font-size: 1vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lf {
  position: absolute;
  top: 84%;
  left: 88%;
  width: 4vw;
  height: 4vw;
  font-size: 1vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: transparent; */
  background-color: white;
  /* border-color: rgba(0, 0, 255, 0.85); */
  /* border-color: blue; */
  /* color: rgba(0, 0, 255, 0.85); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.exec:hover {
  color: white;
  opacity: 0.7;
}

.sf:hover {
  color: white;
  opacity: 0.7;
}

.lf:hover {
  color: white;
  opacity: 0.7;
}

.stop:hover {
  /* border-color: rgba(255, 0, 0, 1); */
  /* color: rgba(255, 0, 0, 1); */
  /* background-color: transparent; */
  color: white;
  opacity: 0.7;
}

/* a new button to lose the both things initially for better vision*/
.close_all {
  background-color: grey;
  cursor: pointer;
  z-index: 2;
  font-size: 1vw;
  position: absolute;
  border: 0px solid black;
  border-radius: 5px;
  left: 0%;
  bottom: 0%;
}
/* .dndflow aside .description {
  margin-bottom: 10px;
} */

.dndflow aside #hand {
  /* width: 80px;
  height: 160px; */
  width: 25%;
  height: 8%;
  background-color: #3c4048;
  /* background-color: white; */
  position: absolute;
  left: -22%;
  top: 0%;
  /* z-index: 0; */
  z-index: 1;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  /* margin-left: 20%; */
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: white;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

/* .dndflow aside {
  top: 0%;
  left: 110%;
  width: 20%;
  height: 100%;
  position: fixed;
  transform: translate(-50%, 0);
  background-color: #3c4048;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.25);
} */

.dndflow aside {
  top: 0%;
  left: 110%;
  width: 20%;
  height: 100%;
  position: fixed;
  transform: translate(-50%, 0);
  background-color: #3c4048;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.25);
}

.dndflow
  aside
  div:not(#hand):not(#handicon):not(#librarytitle):not(#librarytitletext):not(
    #addlibraryCont
  ):not(#iconadd):not(#addLibrary) {
  margin-bottom: 5%;
  margin-left: 20%;
  z-index: 2;
}

.text-updater-node {
  height: 150px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: black;
  font-size: 12px;
}

.start-node,
.end-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1a192b;
  border-radius: 2px;
}

.image-output-node {
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}
.measure-node {
  height: auto;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1a192b;
  border-radius: 2px;
}
.measure-node label,
.Select-model-node label {
  display: block;
  color: black;
  font-size: 12px;
}

.Select-model-node {
  display: flex;
  width: auto;
  height: auto;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1a192b;
  border-radius: 2px;
}

.Select-model-node .cont {
  display: block;
  width: auto;
}

.predict-YOLO {
  height: 300px;
  width: 200px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  cursor: grab;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2px;
  background-color: white;
}

.predict-YOLO *:not(.handle) {
  padding: 2px;
  margin-left: 2px;
}

.predict-YOLO label,
.Select-model-node label {
  display: block;
  color: black;
  font-size: 12px;
}
.description {
  visibility: hidden;
}
.description:hover {
  visibility: visible;
}

#sideextend {
  top: 0%;
  left: 129%;
  width: 120%;
  height: 100%;
  position: fixed;
  transform: translate(-50%, 0);
  background-color: #3c4048;
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.25);
  padding-top: 15%;
  overflow-y: scroll;
}

.nodesv2 {
  height: 5%;
  width: 60%;
  padding: 1%;
  background-color: #616675;
  border: 0.15vw solid #ffffff;
  border-radius: 8px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2vw;
  cursor: grab;
  border-color: white;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.45); /* darken the colour abit*/
}

#popupspawn {
  flex-direction: column;
  height: 70%;
  width: 48%;
  border: 2px solid #1a192b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #3c4048;
  position: fixed;
  left: 110%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#popup {
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #3c4048;
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#popup2 {
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #3c4048;
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.inputfield {
  width: 45%;
}

/* .library {
  position: absolute;
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: #3c4048;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: skewX(-30deg);
} */

/* .library p {
  transform: skewX(30deg);
} */

#log {
  width: 76%;
  height: 25%;
  background-color: #7d8595;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  position: fixed;
  top: 69.8%;
  left: 10%;
  visibility: visible;
  overflow-y: auto;
  scrollbar-width: none;
}
.small {
  height: auto;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1a192b;
  border-radius: 2px;
}
.cont {
  height: auto;
}

.close {
  width: 5px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 2%;
  left: 97%;
  transform: skewX(40deg);
  border-radius: 2px;
}
.close::after {
  content: "";
  width: 5px;
  height: 20px;
  background-color: black;
  position: absolute;
  transform: skewX(-60deg);
  border-radius: 2px;
}
#contflows {
  height: 70%;
  overflow-y: auto;
  scrollbar-width: none;
  position: absolute;
}
#contflows::-webkit-scrollbar {
  display: none;
}

#contpopup ::-webkit-scrollbar {
  display: none;
}
.text {
  color: black;
  font-size: 18px;
}
button {
  width: 100px;
  height: 20px;
  color: black;
}
.custom-node-collapsed {
  width: 200px;
  height: 70px;
  border: 2px solid black;
  background-color: white;
  border-radius: 2%;
  word-wrap: break-word;
  text-align: center;
  font-size: 18px;
  padding-top: 5%;
}
.output-image-node {
  min-width: 200px;
  min-height: 70px;
  width: auto;
  height: auto;
  border: 2px solid black;
  background-color: white;
  border-radius: 2%;
  place-items: center;
  word-wrap: break-word;
  text-align: center;
  padding-top: 5%;
}
.custom-node-collapsed *:not(.handle, .arrow-collapse, .arrow-expand, .expand) {
  padding-left: 5%;
  padding-right: 5%;
}
.custom-node-expanded {
  display: flex;
  width: auto;
  height: auto;
  min-width: 200px;
  min-height: 85px;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
  border-radius: 2%;
  padding-top: 10%;
}
.custom-node-expanded .nodelabel {
  width: auto;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -40%);
  order: 1;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.custom-node-expanded
  div:not(.handle, .expand, .arrow-expand, .arrow-collapse) {
  padding: 5px;
  margin: 5px;
  order: -1;
}
button {
  display: block;
  align-items: center;
  text-align: center;
  width: auto;
  overflow: hidden;
}
.radio {
  display: flex;
  flex-direction: column;
}

.outtercircleadd {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hoverEffect {
  color: red; /* change color of text */
  background-color: #d9d9d9;
}
.hoverEffect:hover {
  background-color: rgb(217, 217, 217, 0.75); /* change color on hover */
}
.plusadd {
  position: absolute;
  width: 3px;
  height: 15px;
  border-radius: 1.5px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plusadd::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  border-radius: 1.5px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

/* .contadd:hover {
  filter: brightness(60%);
  cursor: pointer;
}

.contadd {
  position: fixed;
  top: 2%;
  left: 52.5%;
  width: 25px;
  height: 25px;
} */
.defaultinput {
  caret-color: transparent;
  position: absolute;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: #616675;
  border: 0px;
  border-radius: 0%;
  height: 5%;
}
.defaultlabel {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25vw;
  position: absolute;
}
select {
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  display: block;
  align-items: center;
  text-align: center;
  width: auto;
  overflow: hidden;
  min-height: 20px;
  background-color: white;
}
.defaultbutton {
  background-color: #616675;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  place-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.defaultbutton:hover {
  cursor: pointer;
  filter: brightness(160%);
}
.defaultscrollinvisible {
  scrollbar-width: none;
}
.defaultscrollinvisible::-webkit-scrollbar {
  display: none;
}
.expand {
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.library {
  position: absolute;
  width: 70%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #d9d9d9;
  color: black;
  font-family: "Averia Serif Libre", serif;
  font-size: 1.2vw;
  text-align: center;
}

.libraryribbon {
  position: absolute;
  width: 70%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #d9d9d9;
  font-family: "Averia Serif Libre", serif;
  color: black;
}

*:not(.library, .libraryribbon) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.arrow-expand {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  border-bottom: 5px solid transparent;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
}
.arrow-collapse {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid black;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
}
input {
  accent-color: black;
  border: 2px solid black;
  border-radius: 15px;
}
button {
  font-weight: bolder;
  border: 2px solid black;
  background-color: white;
  max-width: 200px;
  overflow-x: auto;
}
img {
  max-height: 100%;
  max-width: 100%;
}

.logo {
  position: absolute;
  top: 1%;
  left: 1%;
  opacity: 0.5;
  transition: 1s;
}

.logo:hover {
  transform: skewX(20deg);
}
